    
      
    <div class="profile-box">
        <div class="profile-picture">
          <img src={{profile.avatar_url}} alt={{profile.name}} />
        </div>
        <div class="profile-text">
          <h3>Hi! My Name is {{profile.name}}</h3>
          <br />
          <p>Followers: {{profile.followers}}</p>
          <p>Following: {{profile.following}}</p>
          <p>Public Repos: {{profile.public_repos}}</p>
          <br />
          <br />
          <h4>About Me:</h4>
          <br/>
          <p>
            I'm a frontend developer, currently studying in Altschool Africa,
            i'm skilled in HTML, CSS and Javascript. Here's a quick summary
            about me: <br /> 😊 Pronouns: He/him 💡 Fun fact: I'm currently
            studying at AltSchool Africa School of Software Engineering Class of
            2022. 🌱 I’m currently learning JavaScript and Reactjs. 😊 I’m
            looking for help with open source projects, hackathons, internships,
            and entry-level opportunities. 💼 Job interests: Software Engineer,
            Front Engineer, or UI Engineer (Intern or Junior level). 📫 You can
            contact me by emailing eguchinedu18@gmail.com.
          </p>
 
        </div>
      </div>
